/*about main page*/
.about__introduction p {
	margin: 1rem 6rem;
}
.about__menu {
	position: relative;
	display: flex;
	justify-content: center;
	height: 11rem;
	width: 90vw;
	border: solid 1px rgb(151, 149, 149);
	margin: 2rem auto;
	transition: 0.2s ease-in-out;
}
.about__menu:nth-child(2n) {
	flex-direction: row-reverse;
}
.about__menu:hover {
	transform: scale(1.03);
	transition: 0.3s ease-in-out;
}
.about__menu__img {
	width: 70%;
}
.about__menu__img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.about__menu__img .img1 {
	object-position: 50% top;
}
.about__menu__img .img-2 {
	object-position: 50% 25%;
}
.about__menu__img .img-3 {
	object-position: 50% 60%;
}
.about__menu__img .img-4 {
	object-position: 50% 90%;
}
.about__menu h3 {
	width: 30%;
	align-self: center;
	font-size: 2rem;
}
/*about subsection part*/
.about__subsection {
	margin: 0 auto;
	font-size: 1.3rem;
}
.about__subsection--flex {
	display: flex;
	justify-content: space-between;
}
.about__subsection p {
	margin: 2rem 5rem;
}
/*section a propos => origin*/
.about__subsection--origin p a {
	color: #3a60bb;
}
.about__subsection--origin p a:hover {
	text-decoration: underline;
}
.about__origin--title {
	font-weight: bolder;
}
.about__origin--bold {
	font-size: 1rem;
}
.about__origin--team {
	text-align: left;
	overflow: hidden;
	margin: 0 5rem;
}
.about__origin--team h3 {
	text-align: center;
}
.origin__team--container {
	display: flex;
	flex-direction: row-reverse;
}
.origin__team--container:nth-child(2) {
	text-align: right;
}
.origin__team--container:nth-child(3) {
	flex-direction: initial;
	/* text-align: right; */
}
.origin__team--img {
	width: 150px;
	height: 150px;
	align-self: center;
}
.origin__team--img img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.origin__team--infos {
	width: 85%;
	margin: 0 2rem;
}
.origin__team--infos p {
	margin: 2rem 0;
}
.team__infos--name {
	font-family: "Courgette", cursive;
}
/*section a propos => support */
.fut__support--img {
	/* margin-bottom: 2rem;
	width: 90vw; */
	margin: 0 auto 2rem auto;
}
@media (max-width: 767px) {
	.fut__support--img {
		width: 90vw;
		/* margin: 0 auto 2rem auto; */
	}
	.fut__support--img img {
		width: 100%;
	}
}
/*section a propos => valeur*/
.about__subsection--valeur p span {
	display: block;
	line-height: 1.2rem;
}
/*section a propos => demarche*/
.about__subsection--demarche img {
	height: 250px;
}
@media (max-width: 600px) {
	.about__introduction p {
		margin: 1.5rem;
	}
	.about__menu {
		width: 80vw;
	}
	.about__menu h3 {
		width: 40%;
		font-size: 1.3rem;
	}
	.about__menu__img {
		width: 60%;
	}
	.about__subsection p {
		font-size: 1rem;
		margin: 2rem 1rem;
	}
	.about__demarche img {
		display: none;
	}
	.about__origin--team {
		margin: 0 1rem;
	}
	.about__origin--team h3 {
		margin: 1rem 0;
	}
	.origin__team--container {
		display: initial;
	}
	.origin__team--img {
		/* width: 150px; */
		margin: 0 auto;
	}
	.origin__team--infos {
		width: unset;
		margin: unset;
		margin-top: 3rem;
		text-align: center;
	}
	.origin__team--infos p {
		margin: 1rem auto;
	}
}
@media (min-width: 1024px) {
	.about__subsection--flex {
		padding: 0 1.5rem;
	}
}
