.artiste h2 {
	margin-bottom: 2rem;
}
.artiste__feature {
	display: flex;
	justify-content: space-around;
	text-align: left;
	margin: 2rem 0;
}
.artiste__feature:nth-child(2n) {
	flex-direction: row-reverse;
}
.feature__txt {
	width: 50%;
	align-self: center;
	line-height: 2rem;
}
.feature__title {
	margin: 0.5rem 0;
	font-weight: bolder;
}
/* .feature__img__container {
	display: block;
} */
.feature__img {
	/* width: 400px; */
	border-radius: 1rem;
}
/*mobile section*/
@media (max-width: 768px) {
	.artiste__features {
		margin: 0 1rem;
	}
	.artiste__feature {
		display: initial;
		text-align: center;
	}
	.feature__txt {
		width: 100%;
		margin: 2rem 0;
	}
	.feature__img__container {
		display: none;
	}
}
/*tablet section*/
@media (min-width: 769px) and (max-width: 1023px) {
	.feature__txt {
		font-size: 1.2rem;
	}
	/* .feature__img {
		width: 300px;
	} */
}
