.prev__next__navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 2rem;
}
.navigation__next {
	justify-content: flex-end;
}
.prevbutton,
.nextbutton {
	line-height: 1.2rem;
}
.prevbutton svg,
.nextbutton svg {
	height: 2rem;
}
.prevbutton svg {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.prevbutton p,
.nextbutton p {
	font-size: 1.2rem;
	margin: 0;
}
/* .subcreation__container--devis { */
.prev__next__navigation__devis {
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	width: 10rem;
	margin: 1rem auto;
	padding: 1rem;
	background: #ddd;
	border: solid 1px #c2c2c2;
	color: #414141;
	border-radius: 0.5rem;
	font-size: 1rem;
}
@media (min-width: 1024px) {
	.prev__next__navigation {
		display: none;
	}
}
